@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #157db1;
    height: 60px;
}

header div {
    display: flex;
    align-items: center;
}

header .logo img {
	margin-left: 30px;
	margin-right: 30px;
}

.hamburg:hover{
	cursor: pointer;
}


header h1 {
	color: #fff;
}

header label {
    margin-right: 30px;
	margin-left: 10px;
	color: #fff;
}

/* SIDEBAR */

.container-2{
    display: flex;
    height: 100vw;
}

aside{
    color: #fff;
    background-color: #055075;
    min-width: 200px;
}

.menus{
    display: flex;
    flex-direction: column;
}

.menus div{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 0 20px 0;
}

.menus div a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
}

.menus img {
    padding-left: 10px;
    color: #fff;
}

/* CONTEUDO */

main {
    width: 100%;
    background-color: #ffffffa6;
}

main section {
    text-align: center;
    padding-top: 80px;
}

main section h1 {
    font-size: 2rem;
}

main table {
    margin: auto;
    margin-top: 80px;
    border-collapse: collapse;
}

main table td, th {
    border-bottom: 1px solid black;
    padding: 15px 80px 15px 80px;
    font-size: 1.2rem;
}