@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #157db1;
    height: 60px;
}

header h1 {
    margin-left: 30px;
}

header div {
    display: flex;
    align-items: center;
}

header h2 {
    margin-right: 30px;
}

/* SIDEBAR */

.container-2{
    display: flex;
    height: 100vw;
}

aside{
    color: #fff;
    background-color: #055075;
    width: 200px;
}

.menus{
    display: flex;
    flex-direction: column;
}

.menus div{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 0 20px 0;
}

.menus div a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
}

.menus img {
    padding-left: 10px;
    color: #fff;
}

/* CONTEUDO */


